* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial Narrow', sans-serif;
    max-width: 100%;
}

body {
    background-color: darkslategray;
    min-height: 100vh;
}

.light {
    color: #fff;
    text-decoration: none;
    position: relative;
    margin: 0.5rem;
}

.light::before {
    content: '';
    position: absolute;
    height: 1px;
    width: 100%;
    background: #fff;
    bottom: -3px;
    transition: 0.2s ease-in-out;
    transform: scale(0);
    transform-origin: left;
}

.light:hover::before {
    transform: scale(1);
    transform-origin: left;
}

.project-img {
    max-width: 100%;
    height: auto;
}